<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <style>
    textarea {
      vertical-align: top;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="options">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <!-- Left side -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:index' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:posts' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:feedback' %}">Feedback</a>
        </li>
      </ul>

      <!-- Right side -->
      <ul class="navbar-nav ml-auto">

        <!-- Login and signup here. Only for users not logged in -->
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:signup' %}">Sign up</a>
        </li>
        {% else %}

        <!-- Creating a post and logging out is only available when user is already logged in-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:create_post' %}">Create a post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>