{% extends 'basic_app/base.html' %}

{% block title %}Comments{% endblock %}

{% block body %}
  <h1>Comments</h1>
  
  <!-- Load the post in which the user clicked on -->
  

  <!-- Load the comments of the selected post -->
  {% if object_list %}
    {% for comment in object_list %}
      <div class="card mb-2">
        <div class="card-body">
          <p class="card-text">
            <a href="{% url 'basic_app:view_profile' pk=comment.commenter.id %}">
              {{ comment.commenter.username }}
            </a>
          </p>
          <p>{{ comment.comment }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>
      There are currently no comments on the post.
      Be the first one to
      <a href="{% url 'basic_app:post_comment' pk=postId %}">comment!</a>
    </p>
  {% endif %}
{% endblock %}